<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6VN_tVNUO32miuyc3xmD4q4GQpo5k9Bg</string>
	<key>GCM_SENDER_ID</key>
	<string>368654292039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magdalenafronczyk.VideoAppExpo</string>
	<key>PROJECT_ID</key>
	<string>videoappexpo-ca29f</string>
	<key>STORAGE_BUCKET</key>
	<string>videoappexpo-ca29f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368654292039:ios:737f1d02ad8e0f2499cd62</string>
</dict>
</plist>